<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/icon.ico">

    <title>DRD - Encurtador URL</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin" method="POST" action="/encurtar">
      <center><img class="mb-4" src="../static/img/icon.png" alt="" width="100" height="100"></center>
      <h1 class="h3 mb-3 font-weight-normal">Cole a URL abaixo!</h1>
      <center><input type="text" id="site" class="form-control" placeholder="Cole aqui a url que deseja encurtar" name="site" required autofocus></center>
      </div>
      <br>
      <br>
      <center><button class="btn btn-lg btn-primary btn-block" type="submit">Gerar Código</button></center>
    </form>
  </body>
</html>