<!doctype html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../static/img/icon.ico">

    <title>DRD - Encurtador URL</title>

    <!-- Principal CSS do Bootstrap -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Estilos customizados para esse template -->
    <link href="signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <center><h2> Utilize a URL abaixo:</h2></center>
    <br>
    <br>
    <h1>{{url_encurtada}}</h1>
  </body>
</html>